<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   <bean id="mob" class="com.prowings.usingxml.Mobile" scope="prototype" autowire="byType">
   <property name="number" value="91463478"/>
   <property name="cname" value="SAMSUNG"/>
   </bean>
    <bean id="mob1" class="com.prowings.usingxml.Mobile" scope="prototype" autowire="byName">
   <property name="number" value="87558899"/>
   <property name="cname" value="APPLE"/>
   </bean>  
   <bean id="charger" class="com.prowings.usingxml.Charger">
   <property name="price" value="200"/>
   <property name="cname" value="Lenovo"/>
   </bean>
  <!--  <bean id="char" class="com.prowings.usingxml.Charger">
   <property name="price" value="2000"/>
   <property name="cname" value="APPLE"/>
   </bean> --> 
</beans>